registry=https://registry.npmjs.org/ 

@syncfusion:registry=https://nexus.syncfusion.com/repository/ej2-hotfix-new/


registry=https://registry.npmjs.org/ 

@syncfusion:registry=https://nexus.syncfusion.com/repository/ej2-development/


registry=https://registry.npmjs.org/ 

@syncfusion:registry=https://nexus.syncfusion.com/repository/ej2-release/
